@if (movie(); as movie) {
<ng-template #actions>
  <mat-card-actions class="actions">
    <app-star-rating
      class="rating"
      [value]="rating()"
      [label]="'rating.labelFor' | transloco: { title: movie.title }"
      (rate)="rate($event)"
    ></app-star-rating>
    <button
      [matButton]="inWatchlist() ? 'tonal' : 'outlined'"
      class="action"
      [attr.aria-pressed]="inWatchlist()"
      (click)="toggleWatchlist()"
    >
      <mat-icon>{{ inWatchlist() ? 'bookmark' : 'bookmark_border' }}</mat-icon>
      {{ inWatchlist() ? ('card.inWatchlist' | transloco) : ('card.watchlist' | transloco) }}
    </button>
    <button
      [matButton]="isWatched() ? 'tonal' : 'outlined'"
      class="action"
      [attr.aria-pressed]="isWatched()"
      [matTooltip]="isWatched() ? ('card.watchedToggle' | transloco) : ('card.unwatchedToggle' | transloco)"
      (click)="toggleWatched()"
    >
      <mat-icon>{{ isWatched() ? 'check_circle' : 'visibility' }}</mat-icon>
      {{ 'card.watched' | transloco }}
    </button>
    <button
      mat-icon-button
      [matTooltip]="'card.addToList' | transloco"
      [attr.aria-label]="'card.addToList' | transloco"
      [matMenuTriggerFor]="listsMenu"
    >
      <mat-icon>playlist_add</mat-icon>
    </button>
    <mat-menu #listsMenu="matMenu">
      @for (list of customLists(); track list.name) {
      @if (inList(list)) {
      <button mat-menu-item disabled>{{ 'panel.alreadyIn' | transloco: { name: list.name } }}</button>
      } @else {
      <button mat-menu-item (click)="addToList(list)">{{ list.name }}</button>
      }
      } @empty {
      <button mat-menu-item disabled>{{ 'card.noLists' | transloco }}</button>
      }
    </mat-menu>
  </mat-card-actions>
</ng-template>

<mat-card class="card">
  <div class="card-content">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{ movie.title }}</mat-card-title>
        <mat-card-subtitle
          >{{ 'card.releaseDate' | transloco }} {{ movie.releaseDate ?? ('card.unknown' | transloco) }}</mat-card-subtitle
        >
        <mat-card-subtitle class="average"
          >{{ 'card.average' | transloco }} {{ movie.voteAverage }}</mat-card-subtitle
        >
        <mat-card-subtitle class="count"
          >{{ 'card.votesCount' | transloco }} {{ movie.voteCount }}</mat-card-subtitle
        >
      </mat-card-title-group>
      <mat-chip-set>
        @if (isWatched()) {
        <mat-chip class="watched">{{ 'card.watched' | transloco }}</mat-chip>
        }
        @for (genre of movieGenres(); track genre) {
        <mat-chip class="genre">{{ genre }}</mat-chip>
        }
      </mat-chip-set>
    </mat-card-header>
    <mat-card-content>
      <b>{{ 'card.synopsis' | transloco }} </b> {{ movie.overview }}
    </mat-card-content>
  </div>
  <div>
    <img
      mat-card-image
      class="poster"
      [src]="buildImageUrl(movie.posterPath)"
      [alt]="movie.title"
    />
    <ng-container *ngTemplateOutlet="actions"></ng-container>
  </div>
</mat-card>
}
