
<h1>What to Watch?</h1>

<div class="container">
  <div class="menu">
    <div class="menu-icon">
      <mat-icon>theater_comedy</mat-icon>
    </div>
    <app-form
      (movieEvent)="recieveMovie($event)"
      (isLoadingEvent)="recieveIsLoading($event)"
    ></app-form>
  </div>
  <div class="content">
    @if (isLoading) {
      <div class="spinner-container">
        <mat-spinner></mat-spinner>
      </div>
    } @else {
      <app-movie-card [movie]="movie"></app-movie-card>
    }
  </div>
</div>
<div class="overview">
  <app-movies-overview></app-movies-overview>
</div>