.container
  display: grid
  grid-template-columns: 400px 1fr
  min-height: 80vh
  max-width: 1200px
  margin: 0 auto
  place-items: center

.menu
  display: grid
  grid-template-rows: auto 1fr
  gap: 16px
  padding: 16px

.menu h1
  margin: 0

.content
  padding: 16px
  overflow: auto

.spinner-container
  display: flex
  justify-content: center
  align-items: center
  height: 100%
