<mat-tab-group animate.enter="insert-overview">
  <mat-tab [label]="'overview.historyTab' | transloco">
    @if (historyRows().length) {
    <app-movie-table
      [rows]="historyRows()"
      [removeLabel]="'overview.removeFromHistory' | transloco"
      (remove)="removeHistoryRow($event)"
    ></app-movie-table>
    } @else {
    <p class="empty">
      {{ loaded() ? ('overview.historyEmpty' | transloco) : ('overview.historyLoading' | transloco) }}
    </p>
    }
  </mat-tab>
  <mat-tab [label]="'overview.watchlistTab' | transloco">
    @if (watchlistRows().length) {
    <app-movie-table
      [rows]="watchlistRows()"
      [removeLabel]="'overview.removeFromWatchlist' | transloco"
      (remove)="removeWatchlistRow($event)"
    ></app-movie-table>
    } @else {
    <p class="empty">
      {{ loaded() ? ('overview.watchlistEmpty' | transloco) : ('overview.watchlistLoading' | transloco) }}
    </p>
    }
  </mat-tab>
  <mat-tab [label]="'overview.watchedTab' | transloco">
    @if (watchedRows().length) {
    <app-movie-table
      [rows]="watchedRows()"
      [removeLabel]="'overview.unmarkWatched' | transloco"
      (remove)="unmarkWatched($event)"
    ></app-movie-table>
    @if (hasMoreWatched()) {
    <div class="load-more">
      <button mat-stroked-button [disabled]="watchedLoading()" (click)="loadMoreWatched()">
        {{ (watchedLoading() ? 'overview.watchedLoading' : 'overview.loadMore') | transloco }}
      </button>
    </div>
    }
    } @else {
    <p class="empty" [attr.role]="watchedFailed() ? 'alert' : null">
      @if (!loaded() || watchedLoading()) {
      {{ 'overview.watchedLoading' | transloco }}
      } @else if (watchedFailed()) {
      {{ 'overview.watchedFailed' | transloco }}
      } @else {
      {{ 'overview.watchedEmpty' | transloco }}
      }
    </p>
    }
  </mat-tab>
</mat-tab-group>
