<mat-tab-group animate.enter="insert-overview">
  <mat-tab [label]="'overview.historyTab' | transloco">
    @if (historyRows().length) {
    <app-movie-table
      [rows]="historyRows()"
      [removeLabel]="'overview.removeFromHistory' | transloco"
      (remove)="removeHistoryRow($event)"
    ></app-movie-table>
    } @else {
    <p class="empty">
      {{ loaded() ? ('overview.historyEmpty' | transloco) : ('overview.historyLoading' | transloco) }}
    </p>
    }
  </mat-tab>
  <mat-tab [label]="'overview.watchlistTab' | transloco">
    @if (watchlistRows().length) {
    <app-movie-table
      [rows]="watchlistRows()"
      [removeLabel]="'overview.removeFromWatchlist' | transloco"
      (remove)="removeWatchlistRow($event)"
    ></app-movie-table>
    } @else {
    <p class="empty">
      {{ loaded() ? ('overview.watchlistEmpty' | transloco) : ('overview.watchlistLoading' | transloco) }}
    </p>
    }
  </mat-tab>
</mat-tab-group>
