<form class="main" [formGroup]="dataForm" (ngSubmit)="onSubmit()">
  <div>
    <div class="row">
      <mat-form-field>
        <mat-label for="yearFrom">Released from:</mat-label>
        <input
          matInput
          type="number"
          id="yearFrom"
          formControlName="yearFrom"
          [min]="minYear"
          [max]="currentYear"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label for="yearTo">Released to:</mat-label>
        <input
          matInput
          type="number"
          id="yearTo"
          formControlName="yearTo"
          [min]="minYear"
          [max]="currentYear"
        />
      </mat-form-field>
    </div>
    @for (field of ['yearFrom', 'yearTo']; track field) {
      @let control = dataForm.get(field);
      @if (control?.invalid && control?.touched) {
      <mat-error>
        @if (control?.errors?.['required']) {
        <span>Both release years are required</span>
        } @else if (control?.errors?.['min']) {
        <span>Release year cannot be less than {{ minYear }}</span>
        } @else if (control?.errors?.['max']) {
        <span
          >Release year cannot be greater than the current year
          {{ currentYear }}</span
        >
        }
      </mat-error>
      }
    }
    @if (dataForm.errors?.['yearRange']) {
    <mat-error>"Released from" must be before or equal to "Released to"</mat-error>
    }
  </div>
  <div>
    <mat-form-field>
      <mat-label for="genres">Genres:</mat-label>
      <mat-select id="genres" formControlName="genres" multiple>
        @for (genre of genres(); track genre.id) {
          <mat-option [value]="genre.id">
            {{ genre.name }}
          </mat-option>
        }
      </mat-select>
      <mat-hint>Leave empty for any genre</mat-hint>
    </mat-form-field>
    @if (dataForm.controls.genres.value.length > 1) {
    <div class="genre-mode">
      <span>Match:</span>
      <mat-button-toggle-group
        formControlName="genreMode"
        aria-label="Genre match mode"
        hideSingleSelectionIndicator
      >
        <mat-button-toggle value="all">All genres</mat-button-toggle>
        <mat-button-toggle value="any">Any genre</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    }
  </div>
  <div>
    <mat-label for="rating"
      >Rating: {{ dataForm.controls.ratingMin.value }} -
      {{ dataForm.controls.ratingMax.value }}</mat-label
    >
    <mat-slider min="0" max="10" step="0.5" discrete>
      <input matSliderStartThumb formControlName="ratingMin" />
      <input matSliderEndThumb formControlName="ratingMax" />
    </mat-slider>
  </div>
  <div>
    <div class="row">
      <mat-form-field>
        <mat-label for="votesMin">Min votes:</mat-label>
        <input
          matInput
          type="number"
          id="votesMin"
          formControlName="votesMin"
          min="0"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label for="votesMax">Max votes:</mat-label>
        <input
          matInput
          type="number"
          id="votesMax"
          formControlName="votesMax"
          min="0"
          placeholder="No limit"
        />
      </mat-form-field>
    </div>
    @if (dataForm.controls.votesMin.touched && dataForm.controls.votesMin.errors?.['required']) {
    <mat-error>Minimum votes is required (use 0 for no minimum)</mat-error>
    }
    @if (dataForm.controls.votesMin.errors?.['min'] || dataForm.controls.votesMax.errors?.['min']) {
    <mat-error>Votes cannot be negative</mat-error>
    }
    @if (dataForm.errors?.['votesRange']) {
    <mat-error>Minimum votes cannot be greater than maximum votes</mat-error>
    }
  </div>
  <button
    mat-flat-button
    color="primary"
    type="submit"
    [disabled]="dataForm.invalid"
  >
    Generate Movie
  </button>
  <button mat-flat-button class="warn-button" type="button" (click)="reset()">
    Reset Controls
  </button>
</form>
