.main
  display: grid
  padding: .5rem
  gap: 20px

mat-form-field
  width: 100%

mat-slider
  width: 100%

.row
  display: grid
  grid-template-columns: 1fr 1fr
  gap: 12px

.genre-mode
  display: flex
  align-items: center
  gap: 8px
