<form class="main" [formGroup]="dataForm" (ngSubmit)="onSubmit()">
  <div>
    <mat-form-field>
      <mat-label for="year">Primary Release Year:</mat-label>
      <input
        matInput
        type="number"
        id="year"
        name="year"
        formControlName="year"
      />
      @if (dataForm.get('year')?.invalid && dataForm.get('year')?.touched) {
      <mat-error>
        @if (dataForm.get('year')?.errors?.['required']) {
        <span>Release year is a required value</span>
        } @if(dataForm.get('year')?.errors?.['min']) {
        <span>Release year cannot be less than 1900</span>
        } @if (dataForm.get('year')?.errors?.['max']) {
        <span
          >Release year cannot be greater than the current year
          {{ currentYear }}</span
        >
        }
      </mat-error>
      }
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label for="genre">Select Genre:</mat-label>
      <mat-select name="genre" id="genre" formControlName="genre">
        <mat-option [value]="">--</mat-option>
        @for (genre of genres; track genre.id) {
          <mat-option [value]="genre.id">
            {{ genre.name }}
          </mat-option>
        }
      </mat-select>
      @if (dataForm.get('genre')?.invalid && dataForm.get('genre')?.touched) {
      <mat-error>
        @if (dataForm.get('genre')?.errors?.['required']) {
        <span>Genre is a required value</span>
        }
      </mat-error>
      }
    </mat-form-field>
  </div>
  <div>
    <mat-label for="rating">Enter the desire rating:</mat-label>
    <mat-slider min="1" max="10" step="1" showTickMarks discrete>
      <input matSliderThumb formControlName="rating" />
    </mat-slider>
    @if (dataForm.get('rating')?.invalid && dataForm.get('rating')?.touched) {
    <mat-error>
      @if (dataForm.get('rating')?.errors?.['required']) {
      <span>Rating is a required value</span>
      }
    </mat-error>
    }
  </div>
  <button
    mat-flat-button
    color="primary"
    type="submit"
    [disabled]="!dataForm.valid || !dataForm.touched"
  >
    Generate Movie
  </button>
  <button mat-flat-button color="warn" type="button" onclick="reset()">
    Reset Controls
  </button>
</form>
